* {
    margin: 0;
    padding: 0;
}

/* agregando tipo de fuente */
/* aplicando grid al contenedor principal */

body {
    font-family: "Poppins", sans-serif;
    display: grid;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer"
    ;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 1fr 14fr 1fr;
    height: 100vh;
}

/* css del Header */

header {
    grid-area: header;
    text-align: center;
    background-color: rgb(19, 63, 123);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* css del Aside */

aside {
    grid-area: aside;
    background-color: silver;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 20px;
}

.categorias {
    margin-bottom: 10px;
}

aside a {
    margin-bottom: 3px;
    text-decoration: none;
    color: black;
}

aside a:hover {
    color: rgb(19, 63, 123);
    background-color: rgb(150, 186, 237);
}

/* css del main */

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr 1fr;
    background-color: silver;
    align-items: center;
    padding-left: 70px;
}

.card {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    margin: 10px;
}

.card img {
  width: 100%;
  object-fit: cover;
}

.card-title {
    padding: 10px 0 5px 0;
    font-size: 1.1em;
}

.card-price {
    margin-bottom: 5px;
}

.card-button {
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 8px 0;
    background-color: rgb(19, 63, 123);
    color: white;
}

.card-button:hover {
    opacity: 0.7;
}


/* css del footer */

footer {
    grid-area: footer;
    display: grid;
    text-align: center;
    background-color: rgb(19, 63, 123);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}



